certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
debugpy==1.8.0
idna==3.6
numpy==1.26.2
pandas==2.1.4
pmaw==3.0.0
praw==7.7.1
prawcore==2.4.0
psaw==0.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
reddit==0.0.1
requests==2.31.0
six==1.16.0
tzdata==2023.3
update-checker==0.18.0
urllib3==2.1.0
websocket-client==1.7.0
